<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Medic!</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <link href="../../css/styles.css" rel="stylesheet" />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");
    .navbar-brand {
      font-family: "Open Sans", sans-serif;
    }
    .myh2 {
      position: fixed;
      top: 40%;
      left: 30%;
      margin-top: -50px;
      margin-left: -50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.right-go{

  position: relative;
  right: 0px;
}
  </style>
  <body>
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><img src="/assets/doctor.png" height="40px" width="40px" />
          EZ-APPOINT</a
        >
        <div>
          <a class="btn btn-primary" href="/">Home</a>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </nav>








    <div class="container">
      
        
      
        
          <div class="dropdown my-5 ms-auto right-go">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" style="min-width:15rem;" data-bs-toggle="dropdown" aria-expanded="false">
              Filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2"  style="min-width:15rem;">
              <li><a class="dropdown-item" type="button" href="/admin/table/0">All</a></li>
              <li><a class="dropdown-item" type="button" href="/admin/table/1">Pending</a></li>
              <li><a class="dropdown-item" type="button" href="/admin/table/2">Accepted</a></li>
              <li><a class="dropdown-item" type="button" href="/admin/table/3">Deleted</a></li>
            </ul>
          </div>


 
     

      
      <%if (dataP!=""){%>
      <div class="table-responsive my-5">
        <h2>Pending Table</h2>
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Service</th>
            <th scope="col">Status</th>
            <th scope="col">Image</th>
            <th scope="col">Message</th>
            <th scope="col">Functions</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < dataP.length; i++) { %>
            
          <tr>
            <td><%= dataP[i]._id %></td>
            <td><%= dataP[i].first_name %></td>
            <td><%= dataP[i].last_name %></td>
            <td><%= dataP[i].service %></td>
            <td><%= dataP[i].status %></td>
            <td>
              <% if(dataP[i].img.contentType==undefined){%> No Data
              <%}else{%><button
                type="button"
                class="btn btn-dark"
                onClick="view('data:image/<%=dataP[i].img.contentType%>;base64,<%=dataP[i].img.data.toString('base64')%>');"
              >
                Open</button
              ><%}%>
            </td>
            <td><%= dataP[i].message %></td>
            <td>
              <form method="post" action="/approve">
                <button
                  class="btn btn-success btn ms-auto"
                  name="id"
                  value=<%=dataP[i].id%>
                  type="submit"> Approve
                </button>
              </form>
              <br />
              <form method="post" action="/decline">
                <button
                  class="btn btn-danger btn ms-auto"
                  name="id"
                  value=<%=dataP[i].id%>
                  type="submit"> Decline
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <%}%>
    <%if (dataA!=""){%>
    <div class="table-responsive my-5">
      <h2>Approved Table</h2>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Service</th>
          <th scope="col">Status</th>
          <th scope="col">Image</th>
          <th scope="col">Message</th>
          <th scope="col">Functions</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < dataA.length; i++) { %>
          
        <tr>
          <td><%= dataA[i]._id %></td>
          <td><%= dataA[i].first_name %></td>
          <td><%= dataA[i].last_name %></td>
          <td><%= dataA[i].service %></td>
          <td><%= dataA[i].status %></td>
          <td>
            <% if(dataA[i].img.contentType==undefined){%> No Data
            <%}else{%><button
              type="button"
              class="btn btn-dark"
              onClick="view('data:image/<%=dataA[i].img.contentType%>;base64,<%=dataA[i].img.data.toString('base64')%>');"
            >
              Open</button
            ><%}%>
          </td>
          <td><%= dataA[i].message %></td>
          <td>
            <form method="post" action="/approve">
              <button
                class="btn btn-success btn ms-auto"
                name="id"
                value=<%=dataA[i].id%>
                type="submit"> Approve
              </button>
            </form>
            <br />
            <form method="post" action="/decline">
              <button
                class="btn btn-danger btn ms-auto"
                name="id"
                value=<%=dataA[i].id%>
                type="submit"> Decline
              </button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%}%>

  <%if (dataD!=""){%>
  <div class="table-responsive my-5">
    <h2>Declined Table</h2>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Service</th>
        <th scope="col">Status</th>
        <th scope="col">Image</th>
        <th scope="col">Message</th>
        <th scope="col">Functions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < dataD.length; i++) { %>
        
      <tr>
        <td><%= dataD[i]._id %></td>
        <td><%= dataD[i].first_name %></td>
        <td><%= dataD[i].last_name %></td>
        <td><%= dataD[i].service %></td>
        <td><%= dataD[i].status %></td>
        <td>
          <% if(dataD[i].img.contentType==undefined){%> No Data
          <%}else{%><button
            type="button"
            class="btn btn-dark"
            onClick="view('data:image/<%=dataD[i].img.contentType%>;base64,<%=dataD[i].img.data.toString('base64')%>');"
          >
            Open</button
          ><%}%>
        </td>
        <td><%= dataD[i].message %></td>
        <td>
          <form method="post" action="/approve">
            <button
              class="btn btn-success btn ms-auto"
              name="id"
              value=<%=dataD[i].id%>
              type="submit"> Approve
            </button>
          </form>
          <br />
          <form method="post" action="/decline">
            <button
              class="btn btn-danger btn ms-auto"
              name="id"
              value=<%=dataD[i].id%>
              type="submit"> Decline
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%}%>



    </div>
















<!-- <div class="container">
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="#!">About</a></li>
              <li class="list-inline-item">⋅</li>
              <li class="list-inline-item"><a href="#!">Contact</a></li>
              <li class="list-inline-item">⋅</li>
              <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
              <li class="list-inline-item">⋅</li>
              <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">
              &copy; Your Website 2021. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script
      src="https://kit.fontawesome.com/f51f107350.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function view(data) {
        var image = new Image();
        image.src = data;
        image.style.width = "95%";
        image.style.height = "auto";
        image.style.margin = "auto auto";
        image.style.display = "block";

        var w = window.open(
          "",
          "referral receipt",
          "width=600, height=500, top=250, left=500, resizable=1"
        );
        w.document.write(image.outerHTML);
        w.screenLeft = 50;
      }
    </script>
  </body>
</html>
